@import "./scss/functions";
@import "./scss/variables";
@import "./scss/flex";

body {
    background: rgba(250, 245, 254, 0.3);
}

.control {
    &>div {
        width: 24px;
        height: 24px;
    }
}

.wrapper {
    margin: auto;
    height: 95vh;

    @media screen and (min-width: 1200px) {
        max-width: 55vw;
    }

    @media screen and (min-width: 820px) and (max-width: 1200px) {
      max-width: 100vw;
  }
}

.search {
    &-block {
        min-height: 65px;
    }
    &-container {
        padding: 10px 15px;
        border: 1px solid rgba($primary-color, 0.3);
        border-radius: 6px;
    }

    &-input {
        width: 100%;
        height: 25px;
        outline: none;
        border: none;
        font-size: 18px;
        color: $primary-color;
        &::placeholder {
            color: rgba($primary-color, 0.65);
        }
    }
}

.round {
    border-radius: 100%;
}

.player {
    $border-radius: 10px;
    color: $primary-color;
    font-family: "Lato", sans-serif;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background: #fff;

    img {
        width: 100%;
        height: 100%;
    }

    h3,
    h4 {
        margin: 0;
        padding: 0;
    }

    &__header {
        &__user {
            margin-top: 10px;
            font-size: 13px;
        }
    }

    &__top {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        background: linear-gradient(rgba(90, 61, 182, 0.2), rgba(52, 35, 106, 0.1));
    }

    &__slider {
        &__line {
            width: 100%;
            height: 5px;
            background-color: rgba($shade-color, 0.3);
            border-radius: 2px;
            position: relative;

            &__fill {
                height: 5px;
                position: absolute;
                left: 0;
                top: 0;

                &:before {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $shade-color;
                    position: absolute;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                }
            }

            &__dot {
                width: 9px;
                height: 9px;
                margin-top: -2px;
                position: relative;
                transform: translateX(-50%);

                &:after {
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $primary-color;
                    border-radius: 50%;
                    position: absolute;
                }
            }
        }
    }

    &__list {
        background: #fff;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        overflow: auto;

        &__item {
            height: 75px;
            border-radius: 4px;
            padding: 10px 15px;
            box-shadow: 0px 0px 9px 0px rgba($primary-color, 0.3);
            justify-content: space-around;
            margin-top: 10px; 
            margin-bottom: 10px; 

            &__position {
                align-items: center;
                margin-right: 20px;
                margin-left: 5px;

                &__label {
                    font-size: 18px;
                }
            }

            &__meta {
                font-size: 12px;
            }

            &__image {
                min-width: 65px;
                max-width: 65px;
                height: 65px;
            }

            &__likes {
                align-items: center;
                justify-content: space-between;
                margin-right: 5px;

                &__icon {
                    cursor: pointer;
                }

                &__amount {
                    margin-right: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}